<template>
  <div class="timer tw-h-full">
    <TimerIcon />
    <span class="text-counter">{{ timer }}s</span>
  </div>
</template>
<script setup lang="ts">
import TimerIcon from '@/components/icons/TimerIcon.vue'
import { ref, watch } from 'vue'

const props = defineProps<{ cooldown: number }>()
const futureTimestamp = props.cooldown
const currentTimestamp = Date.now()
const differenceInMilliseconds = futureTimestamp - currentTimestamp
const secondsRemaining = Math.floor(differenceInMilliseconds / 1000)

const timer = ref(secondsRemaining)
const emit = defineEmits<{ (e: 'endTimer'): void }>()
const interval = timer.value > 0 ? setInterval(() => (timer.value -= 1), 1000) : undefined
if (!interval) {
  emit('endTimer')
}

watch(timer, () => {
  if (timer.value <= 0) {
    clearInterval(interval)
    emit('endTimer')
  }
})
</script>

<style scoped>
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1a1a91;
  position: relative;
  z-index: 2;
}

.text-counter {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
</style>
