<template>
  <div class="tw-h-full item" :style="{ backgroundImage: `url(${item.imageUrl})` }">
    <CoolDownComponent
      :cooldown="item.cooldown"
      v-if="item.cooldown && showCooldown"
      @end-timer="showCooldown = false"
    />
    <div class="charges" v-if="showCharges">
      <TriangleIcon />
      <span class="charges-counter">{{ item.charges }}/{{ item.maxCharges }}</span>
    </div>
    <span class="counter">x{{ item.count }}</span>
  </div>
</template>
<script setup lang="ts">
import { type InventoryItemByType, TypeItemInventory } from '@/@types/Invenory'
import TriangleIcon from '@/components/icons//TriangleIcon.vue'
import { computed, ref } from 'vue'
import CoolDownComponent from '@/views/index/components/invenory/item-inventory-types/misc-item/CoolDownComponent.vue'

const props = defineProps<{ item: InventoryItemByType<TypeItemInventory.MISC> }>()
const showCharges = computed(() => props.item.maxCharges && !props.item.cooldown)
const showCooldown = ref(Boolean(props.item.cooldown))
</script>

<style scoped>
@import '../styleHelp.css';

.charges {
  position: relative;
}

.charges-counter {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
}

.counter {
  position: absolute;
  bottom: 0;
  right: 5px;
}
</style>
