<template>
  <div class="inventory-body-container tw-flex tw-flex-col">
    <div class="selected-category-inventory tw-flex tw-text-white tw-justify-between tw-pr-2.5">
      <span class="tw-text-xl tw-uppercase tw-font-bold">{{ title }}</span>
      <span class="tw-text-xl counter-container">
        {{ itemsInBackPack }}/{{ itemsInInventoryCount }}</span
      >
    </div>
    <div class="inventory-items-container">
      <div class="items">
        <OneItemInventory
          v-for="(item, index) in filledInventory"
          :key="item.id + index"
          :item="item"
        />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import OneItemInventory from '@/views/index/components/invenory/OneItemInventory.vue'
import {
  type AnyInventoryItem,
  type InventoryItemByType,
  TypeItemInventory
} from '@/@types/Invenory'
import { computed } from 'vue'

const props = defineProps<{ title: string; items: AnyInventoryItem[] }>()
const itemsInBackPack = computed(() => props.items.length)
const itemsInInventoryCount = computed(() => {
  const standartItemInventory = import.meta.env.VITE_APP_INVENTORY_SIZE
  return standartItemInventory > props.items.length ? standartItemInventory : props.items.length
})
const filledInventory = computed(() => {
  const needForFill = itemsInInventoryCount.value - props.items.length
  const emptyArrayForFill: InventoryItemByType<TypeItemInventory.EMPTY>[] =
    needForFill > 0
      ? Array(needForFill).fill({
          type: 'empty',
          id: Math.random(),
          name: undefined
        })
      : []
  return [...props.items, ...emptyArrayForFill]
})
</script>

<style scoped>
.inventory-body-container {
  flex: 1 1 80%;
  height: 100%;
  background-color: #242223;
  padding: 15px 20px 15px 15px;
  gap: 9px;
}

.inventory-items-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.inventory-items-container::-webkit-scrollbar {
  width: 3px;
}

.inventory-items-container::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 6px;
  border: 3px solid #d9d9d9;
}

.inventory-items-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.inventory-items-container::-webkit-scrollbar-track {
  background: #454545;
  border-radius: 10px;
}

.inventory-items-container::-webkit-scrollbar-button {
  display: none;
}

.counter-container {
  font-family: Apercu Pro;
}
</style>
