<template>
  <div class="item-inventory">
    <div class="card-item-container">
      <component
        :is="dynamicComponent"
        :item="item"
        @mousemove="mouseMove"
        @mouseleave="showToolTip = false"
      />
    </div>
    <span class="tooltip" ref="tooltip" v-if="showToolTip"> {{ textTooltip }}</span>
  </div>
</template>
<script setup lang="ts">
import { type AnyInventoryItem, type InventoryItemBase, TypeItemInventory } from '@/@types/Invenory'
import ArmorInventoryItem from '@/views/index/components/invenory/item-inventory-types/ArmorInventoryItem.vue'
import EmptyInventoryItem from '@/views/index/components/invenory/item-inventory-types/EmptyInventoryItem.vue'
import MiscInventoryItem from '@/views/index/components/invenory/item-inventory-types//misc-item/MiscInventoryItem.vue'
import WeaponInventoryItem from '@/views/index/components/invenory/item-inventory-types/WeaponInventoryItem.vue'
import { computed, ref } from 'vue'

const props = defineProps<{ item: AnyInventoryItem }>()

const dynamicComponent = computed(() => {
  if (!props.item) return EmptyInventoryItem
  switch (props.item.type) {
    case TypeItemInventory.ARMOR:
      return ArmorInventoryItem
    case TypeItemInventory.MISC:
      return MiscInventoryItem
    case TypeItemInventory.WEAPON:
      return WeaponInventoryItem
    default:
      return EmptyInventoryItem
  }
})

const showToolTip = ref(false)
const tooltip = ref<HTMLElement>()

// FIX TS  error when condition can't read valid
const isNamedItem = (item: AnyInventoryItem): item is InventoryItemBase => {
  return item.type !== TypeItemInventory.EMPTY
}
const textTooltip = computed(() => {
  return isNamedItem(props.item) ? props.item.name : undefined
})

const mouseMove = (event: MouseEvent) => {
  showToolTip.value = true
  const x = event.layerX
  const y = event.layerY + 20
  if (tooltip.value) {
    tooltip.value.style.left = `${x}px`
    tooltip.value.style.top = `${y}px`
  }
}
</script>

<style scoped>
.item-inventory {
  aspect-ratio: 1 / 1;
  max-width: 90px;
  max-height: 92px;
  min-width: 40px;
  min-height: 40px;
  width: 100%;
  height: 100%;
  border: 1px solid #454545;
  color: white;
  background: #1a1a1a;
  resize: both;
  font-family: Apercu Pro;
}

.card-item-container {
  position: relative;
  height: 100%;
}

.item-inventory {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 99;
  font-size: 12px;
  white-space: nowrap;
  background: rgba(38, 24, 24, 0.74);
  border: 1px solid #414141;
  border-radius: 6px;
  padding: 0.25rem;
}
</style>
