<template>
  <div class="nav-menu-left">
    <component
      :is="item.component"
      class="item"
      :class="{ active: item.type === modelValue.type }"
      v-for="item in items"
      :key="item.title"
      @click="selectItem(item)"
    />
  </div>
</template>
<script setup lang="ts">
import type { SidebarMenuItem } from '@/@types/Menu'

defineProps<{
  items: SidebarMenuItem[]
  modelValue: { type: SidebarMenuItem['type']; title: SidebarMenuItem['title'] }
}>()
const emits = defineEmits<{
  (
    e: 'update:modelValue',
    item: { type: SidebarMenuItem['type']; title: SidebarMenuItem['title'] }
  ): void
}>()
const selectItem = (item: SidebarMenuItem) => {
  emits('update:modelValue', { type: item.type, title: item.title })
}
</script>
<style scoped>
.nav-menu-left {
  flex: 1 1 10%;
  max-width: 84px;
  width: 100%;
  height: 100%;
  background-color: #393839;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  gap: 30px;
}

.item {
  fill: white;
  fill-opacity: 0.5;
}

.item:hover,
.item:focus {
  fill-opacity: 1;
}

.active {
  fill-opacity: 1;
}
</style>
