<template>
  <div class="tw-h-full armor">
    <div class="tw-h-full item" :style="{ backgroundImage: `url(${item.imageUrl})` }"></div>
  </div>
</template>
<script setup lang="ts">
import { type InventoryItemByType, TypeItemInventory } from '@/@types/Invenory'

defineProps<{ item: InventoryItemByType<TypeItemInventory.ARMOR> }>()
</script>

<style scoped>
@import './styleHelp.css';

.armor {
  background-image: radial-gradient(circle at center, #005fce 0%, #367cce00);
}
</style>
