<template>
  <div></div>
</template>
<script setup lang="ts">
import { type InventoryItemByType, TypeItemInventory } from '@/@types/Invenory'

defineProps<{ item: InventoryItemByType<TypeItemInventory.EMPTY> }>()
</script>

<style scoped></style>
