<template>
  <div class="tw-h-full weapon">
    <div class="tw-h-full item" :style="{ backgroundImage: `url(${item.imageUrl})` }"></div>
  </div>
</template>
<script setup lang="ts">
import { type InventoryItemByType, TypeItemInventory } from '@/@types/Invenory'

defineProps<{ item: InventoryItemByType<TypeItemInventory.WEAPON> }>()
</script>

<style scoped>
@import 'styleHelp.css';

.weapon {
  background-image: radial-gradient(circle at center, #7f59ce 0%, #7f59ce00);
}
</style>
