<template>
  <div class="tw-h-screen tw-flex tw-items-center tw-justify-center">
    <div class="backpack tw-bg-black">
      <MenuComponent
        :menu-list="menuData"
        @close-menu="onCloseMenu"
        @select-menu-item="onSelectItem"
      />
      <div class="inventory-body">
        <LeftSidebar :items="sidebarMenu" v-model="selectedType" />
        <InventoryComponent :title="selectedType.title" :items="filteredItems" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import MenuComponent from '@/views/index/components/inventory-menu/MenuComponent.vue'
import { FiltersType, type InventoryMenuItem, type SidebarMenuItem } from '@/@types/Menu'
import InventoryComponent from '@/views/index/components/invenory/InventoryComponent.vue'
import api from '@/api/Inventory'
import AllItemsIcon from '@/components/icons/AllItemsIcon.vue'
import ArmorIcon from '@/components/icons/ArmorIcon.vue'
import WeaponIcon from '@/components/icons/WeaponIcon.vue'
import MiscIcon from '@/components/icons/MiscIcon.vue'
import LeftSidebar from '@/views/index/components/LeftSidebar.vue'
import { computed, ref } from 'vue'
import type { AnyInventoryItem } from '@/@types/Invenory'

const props = defineProps<{ stateInventory: string }>()
const menuData: InventoryMenuItem[] = [
  { id: 1, name: 'Backpack' },
  { id: 2, name: 'Nexus ' }
]
const onCloseMenu = () => console.log('menu-close')
const onSelectItem = (id: number) => console.log(`selected: ${id}`)
const sidebarMenu: SidebarMenuItem[] = [
  { component: AllItemsIcon, type: FiltersType['ALL'], title: 'ALL ITEMS' },
  { component: ArmorIcon, type: FiltersType['ARMOR'], title: 'ARMOR' },
  { component: WeaponIcon, type: FiltersType['WEAPON'], title: 'WEAPONS' },
  { component: MiscIcon, type: FiltersType['MISC'], title: 'MISCELLANEOUS' }
]
const selectedType = ref(sidebarMenu[0])
const AllItems = await api.getItems(Number(props.stateInventory))
const filteredItems = computed(() => {
  if (selectedType.value.type === FiltersType['ALL']) {
    return AllItems
  }
  const filtered = Object.groupBy(AllItems, ({ type }) => type)
  return filtered[selectedType.value.type] || ([] as AnyInventoryItem[])
})
</script>

<style scoped>
.backpack {
  max-width: 562px;
  max-height: 864px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.inventory-body {
  display: flex;
  flex-direction: row;
  gap: 3px;
  height: inherit;
}
</style>
