<template>
  <div class="navigate tw-text-white tw-text-2xl tw-uppercase">
    <div class="containers-navigate-items">
      <OneMenuItem
        class="menu-item"
        :class="{ active: menuItem.id === active }"
        v-for="menuItem in menuList"
        :item="menuItem"
        @select="selectMenuItemFn"
        :key="menuItem.id"
      />
    </div>
    <OneMenuItem
      class="cross-close"
      :item="{ id: 0, name: 'x' }"
      @select="emits('close-menu')"
    ></OneMenuItem>
  </div>
</template>

<script setup lang="ts">
import OneMenuItem from '@/views/index/components/inventory-menu/OneMenuItem.vue'
import type { InventoryMenuItem } from '@/@types/Menu'
import { ref } from 'vue'

defineProps<{ menuList: InventoryMenuItem[] }>()
const active = ref(1)
const emits = defineEmits<{
  (e: 'select-menu-item', id: number): void
  (e: 'close-menu'): void
}>()
const selectMenuItemFn = (id: number) => {
  emits('select-menu-item', id)
  active.value = id
}
</script>

<style scoped>
.navigate {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
}

.containers-navigate-items {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.containers-navigate-items > .menu-item {
  flex: 1 1 50%;
  opacity: 0.5;
}

.containers-navigate-items > .active {
  opacity: 1;
}

.containers-navigate-items {
  flex: 1 1 90%;
}

.cross-close {
  flex: 1 1 10%;
  opacity: 0.5;
}
</style>
