<template>
  <div class="item-navigate" @click="selectFn">{{ item.name }}</div>
</template>
<script setup lang="ts">
import type { InventoryMenuItem } from '@/@types/Menu'

const props = defineProps<{ item: InventoryMenuItem }>()
const emits = defineEmits<{ (e: 'select', id: number): void }>()
const selectFn = () => emits('select', props.item.id)
</script>

<style scoped>
.item-navigate {
  font-family: commuters-sans, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  background-color: #242223;
  line-height: 30px;
  font-weight: 700;
}
</style>
