<template>
  <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M14.5714 9.71428C13.9036 9.71428 13.3316 9.47628 12.8556 9.00029C12.3796 8.52429 12.142 7.95276 12.1429 7.28571V2.42857C12.1429 1.76072 12.3809 1.18879 12.8569 0.712787C13.3329 0.236788 13.9044 -0.000807462 14.5714 2.06161e-06H19.4286C20.0964 2.06161e-06 20.6684 0.238002 21.1444 0.714002C21.6204 1.19 21.8579 1.76153 21.8571 2.42857V7.28571C21.8571 7.95357 21.6191 8.5255 21.1431 9.0015C20.6671 9.4775 20.0956 9.71509 19.4286 9.71428H14.5714ZM9.71428 7.28571C9.71428 7.95357 9.47628 8.5255 9.00029 9.0015C8.52429 9.4775 7.95276 9.71509 7.28571 9.71428H2.42857C1.76072 9.71428 1.18879 9.47628 0.712787 9.00029C0.236788 8.52429 -0.000807462 7.95276 2.06161e-06 7.28571V2.42857C2.06161e-06 1.76072 0.238002 1.18879 0.714002 0.712787C1.19 0.236788 1.76153 -0.000807462 2.42857 2.06161e-06H7.28571C7.95357 2.06161e-06 8.5255 0.238002 9.0015 0.714002C9.4775 1.19 9.71509 1.76153 9.71428 2.42857V7.28571ZM12.1429 14.5714C12.1429 13.9036 12.3809 13.3316 12.8569 12.8556C13.3329 12.3796 13.9044 12.142 14.5714 12.1429H19.4286C20.0964 12.1429 20.6684 12.3809 21.1444 12.8569C21.6204 13.3329 21.8579 13.9044 21.8571 14.5714V19.4286C21.8571 20.0964 21.6191 20.6684 21.1431 21.1444C20.6671 21.6204 20.0956 21.8579 19.4286 21.8571H14.5714C13.9036 21.8571 13.3316 21.6191 12.8556 21.1431C12.3796 20.6671 12.142 20.0956 12.1429 19.4286V14.5714ZM7.28571 12.1429C7.95357 12.1429 8.5255 12.3809 9.0015 12.8569C9.4775 13.3329 9.71509 13.9044 9.71428 14.5714V19.4286C9.71428 20.0964 9.47628 20.6684 9.00029 21.1444C8.52429 21.6204 7.95276 21.8579 7.28571 21.8571H2.42857C1.76072 21.8571 1.18879 21.6191 0.712787 21.1431C0.236788 20.6671 -0.000807462 20.0956 2.06161e-06 19.4286V14.5714C2.06161e-06 13.9036 0.238002 13.3316 0.714002 12.8556C1.19 12.3796 1.76153 12.142 2.42857 12.1429H7.28571Z"
    />
    <path
      d="M26.7142 21.8569C26.0464 21.8569 25.4744 21.6189 24.9984 21.1429C24.5224 20.6669 24.2848 20.0953 24.2856 19.4283V14.5712C24.2856 13.9033 24.5236 13.3314 24.9996 12.8554C25.4756 12.3794 26.0472 12.1418 26.7142 12.1426H31.5714C32.2392 12.1426 32.8111 12.3806 33.2871 12.8566C33.7631 13.3326 34.0007 13.9041 33.9999 14.5712V19.4283C33.9999 20.0961 33.7619 20.6681 33.2859 21.1441C32.8099 21.6201 32.2384 21.8577 31.5714 21.8569H26.7142ZM24.2856 26.714C24.2856 26.0461 24.5236 25.4742 24.9996 24.9982C25.4756 24.5222 26.0472 24.2846 26.7142 24.2854H31.5714C32.2392 24.2854 32.8111 24.5234 33.2871 24.9994C33.7631 25.4754 34.0007 26.047 33.9999 26.714V31.5711C33.9999 32.239 33.7619 32.8109 33.2859 33.2869C32.8099 33.7629 32.2384 34.0005 31.5714 33.9997H26.7142C26.0464 33.9997 25.4744 33.7617 24.9984 33.2857C24.5224 32.8097 24.2848 32.2382 24.2856 31.5711V26.714Z"
      fill="white"
    />
    <path
      d="M12.1429 26.7147C12.1429 26.0468 12.3809 25.4749 12.8569 24.9989C13.3329 24.5229 13.9044 24.2853 14.5714 24.2861H19.4286C20.0964 24.2861 20.6684 24.5241 21.1444 25.0001C21.6204 25.4761 21.8579 26.0477 21.8571 26.7147V31.5718C21.8571 32.2397 21.6191 32.8116 21.1431 33.2876C20.6671 33.7636 20.0956 34.0012 19.4286 34.0004H14.5714C13.9036 34.0004 13.3316 33.7624 12.8556 33.2864C12.3796 32.8104 12.142 32.2389 12.1429 31.5718V26.7147ZM7.28571 24.2861C7.95357 24.2861 8.5255 24.5241 9.0015 25.0001C9.4775 25.4761 9.71509 26.0477 9.71428 26.7147V31.5718C9.71428 32.2397 9.47628 32.8116 9.00029 33.2876C8.52429 33.7636 7.95276 34.0012 7.28571 34.0004H2.42857C1.76072 34.0004 1.18879 33.7624 0.712787 33.2864C0.236788 32.8104 -0.000807462 32.2389 2.06161e-06 31.5718V26.7147C2.06161e-06 26.0468 0.238002 25.4749 0.714002 24.9989C1.19 24.5229 1.76153 24.2853 2.42857 24.2861H7.28571Z"
      fill="white"
    />
    <path
      d="M26.7143 9.71428C26.0464 9.71428 25.4745 9.47628 24.9985 9.00029C24.5225 8.52429 24.2849 7.95276 24.2857 7.28571V2.42857C24.2857 1.76072 24.5237 1.18879 24.9997 0.712787C25.4757 0.236788 26.0472 -0.000807462 26.7143 2.06161e-06H31.5714C32.2393 2.06161e-06 32.8112 0.238002 33.2872 0.714002C33.7632 1.19 34.0008 1.76153 34 2.42857V7.28571C34 7.95357 33.762 8.5255 33.286 9.0015C32.81 9.4775 32.2385 9.71509 31.5714 9.71428H26.7143Z"
      fill="white"
    />
  </svg>
</template>
