<template>
  <svg width="41" height="43" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M27.2348 0L17.2555 19.7593H18.5859L19.8826 18.4756L20.5 17.8643L22.4141 19.7593H29.2327L36.5048 2.48082C35.7179 2.00187 34.179 1.35549 32.4961 0.901131C30.6477 0.402007 28.651 0.069835 27.2348 0ZM13.7278 0.00201723C12.3135 0.0760788 10.3363 0.406426 8.5039 0.901131C6.82101 1.35549 5.28212 2.00197 4.4952 2.48082L11.7673 19.7593H15.3031L19.0603 12.32L13.7278 0.00201723ZM16.5659 2.1694L20.0833 10.2945L24.157 2.22828C21.5422 2.78082 19.2008 2.76247 16.5659 2.1694ZM4.23934 6.36853L0 12.6642L6.39233 16.4614L7.87107 14.9974L4.23934 6.36853ZM36.7607 6.36853L33.1288 14.9974L34.6076 16.4614L41 12.6641L36.7607 6.36853ZM20.5 20.3093L18.5187 22.2708L20.5 25.2131L22.4814 22.2708L20.5 20.3093ZM10.5059 21.4884V24.3702H17.8334L16.2714 22.0507L16.8394 21.4884H10.5059ZM24.1606 21.4884L24.7286 22.0507L23.1666 24.3702H30.4941V21.4884H24.1606ZM11.6317 26.0993L9.10451 41.9721C20.1873 43.3426 20.8127 43.3426 31.8955 41.9721L29.3683 26.0993H22.0022L20.5 28.3299L18.9978 26.0992L11.6317 26.0993Z"
    />
  </svg>
</template>
