<template>
  <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <polygon points="0,0 61,0 61,36" fill="black" transform="scale(-1, 1) translate(-61, 0)" />
  </svg>
</template>
