<template>
  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.94192 17.9617L14.0517 24.0652L11.6095 26.5059L14.0552 28.9483L11.6113 31.389L7.33353 27.1169L2.44393 32L0 29.5593L4.88959 24.6745L0.611847 20.4041L3.05578 17.9634L5.49971 20.4024L7.94192 17.9617ZM0.945425 0L7.07427 0.00517831L27.4986 20.4041L29.9442 17.9634L32.3899 20.4041L28.1121 24.6762L33 29.5593L30.5561 32L25.6665 27.1169L21.3905 31.389L18.9448 28.9483L21.3887 26.5059L0.948882 6.09483L0.945425 0ZM25.9326 0L32.0563 0.00517831L32.0598 6.0862L25.0546 13.0803L18.9431 6.97859L25.9309 0H25.9326Z"
    />
  </svg>
</template>
